<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DefinitionsMain</title>
    <style>
    body {
        margin:0;
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    .container {
        padding: 100px;
        margin-top: 30px;
        background-color: white;
    }

    a {
        color: dodgerblue;
    }

    </style>
</head>
<body>
    <div class="container">
        <% if(!artwork) { %>
            <img src="https://i.imgur.com/D1nM11A.png" alt="NoImage">
            <h3>Several Definitions: </h3>
            <% definition.forEach(function(def){ %>
                <p><%= def %></p>
            <% }); %>
        <% } else { %>
            <img src="https://www.merriam-webster.com/assets/mw/static/art/dict/<%= artwork %>.gif" alt="image">
            <h3>Several Definitions: </h3>
            <% definition.forEach(function(def){ %>
                <p><%= def %></p>
            <% }); %>
        <% } %>
        <a href="/">Search Again</a>
    </div>    
</body>
</html>